
/* font-familly */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 400; 
    src: url(../Fonts/Raleway-VariableFont_wght_WOFF.woff);
    src: url(../Fonts/Raleway-VariableFont_wght.ttf);
}
@font-face {
    font-family: "Raleway";
    font-style: italic;
    font-weight: 400; 
    src: url(../Fonts/Raleway-Italic-VariableFont_wght_WOOF.woff);
    src: url(../Fonts/Raleway-Italic-VariableFont_wght.ttf);
}
h1, h2, h3 {
    font-family: "Lato";
}
 p, li, a {
    font-family: "Raleway";
 }
 



 /* Picture, name, job */
.picture {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    width: 1160px;
    margin: auto; 
    padding-top: 30px;
    padding-bottom: 15px;

    background-color: #782221;
    color: white; 
}
.picture img {
    width: 250px;
    border-radius: 50%;
    box-shadow: 0 0 50px 5px rgb(99, 99, 99);
}
.picture img:hover{
    cursor: zoom-in;
}
.picture p {
    font-weight: bold;
}



            /* Adress, mail, phone number */
header nav {
    display: flex;
    background-color: #2c1d27;
    color: white;
    width: 1160px;
    height: 90px;
    margin: auto;
}
header nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    color: white;
    text-decoration: none;
}
header nav :hover {
    text-decoration: underline;
}



            /* Body, left and right */
main {
    display: flex;
    width: 1160px;
    margin: auto;
}



            /* Left */
aside {
    width: 25%;
    background-color: #782221 ;
}
aside h2 {
    background-color: #dbc2a4;
    width: 80%;
    padding-left: 15px;
}
aside ul {
    color: white;
    text-align: justify;
}
aside p {
    padding-right: 15px;
    padding-left: 15px;
    width: 80%;
    color: white;
    text-align: justify;
}



            /*  Right */
article {
    width: 75%;
    border-right: solid #2c1d27 ;
}         
article h2 {
    border-left:6px solid #782221;
    padding-left: 8px;

    margin-left: 15px;
    margin-right: 20px;
    padding-left: 8px;
    background-color:  #dbc2a4; 
}
article h3 {
    margin-left: 15px;
    font-weight: bold;
}

article p {
    margin-left: 15px;
}
article ul {
    margin-left: 15px;
}
article li:hover {
    border-right: 5px solid #782221;
    margin-right: 400px;
}


            /*  LOGO + DATE */
footer img {
    width: 40px;
    margin: 3px;
}
footer img:hover{
    opacity: 50%;
}
footer {
    background-color: #782221;
    width: 1160px;
    margin: auto;
    text-align: center;
    color: white;

    padding-top: 20px;
    padding-bottom: 20px ;
}